.header-block,
.footer-block {
  .flex-struct-block {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    .flex-struct-block__item {
      &.header,
      &.footer {
        width: 100%;
      }
      &.sign {
        width: fit-content;
        flex: 0 0;
      }
      &.content {
        flex: 1 1 auto;
      }
    }
  }
}
