@import "-global-vars";

.form-email-valid {
  padding: $form-pad-top $form-pad-left $form-pad-bottom $form-pad-right;
  * {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  .form-email-valid__body {
    input {
      height: $form-input-height;
      margin-bottom: $form-inner-pad;
    }
    textarea {
      resize: none;
      margin-bottom: $form-inner-pad !important;
    }
    button {
      height: $form-btn-height;
    }
    .form-email-valid__email-error,
    .form-email-valid__message-error {
      color: #ff0000;
      margin-bottom: $form-inner-pad !important;
    }
  }
}
