/* Documents background when popup is opened. It is always fits the screen. You can set duration of animation with transition property. */
.popup {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.95);
  display: none;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

/* Used for animation startup */
.popup-active {
  display: flex !important;
  opacity: 0 !important;
}

/* This is the finale state of popup window when it is opened */
.popup-opened {
  display: flex !important;
  opacity: 1 !important;
}

.popup__body {
  position: relative;
  background: #ffffff;
  width: 100%;
  margin: 10px;
  max-width: 900px;
  padding: 25px;
  h3 {
    margin-bottom: 25px;
  }
  p {
  }
}

.popup__closure {
  position: absolute;
  z-index: 1001;
  top: 4px;
  right: 4px;
  content: "";
  width: 20px;
  height: 20px;
}

/* This styles used to create a cross sign on top of the closure element */
.popup__closure:before,
.popup__closure:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  background: red;
  top: 50%;
  border-radius: 1px;
  transition: 0.3s;
}

.popup__closure:before {
  transform: rotate(45deg);
}

.popup__closure:after {
  transform: rotate(-45deg);
}

.popup__closure:hover:before,
.popup__closure:hover:after {
  background: orange;
}

/* This is the style of the element that triggers the popup. */
.open-popup {
  padding: 8px 24px;
  color: white;
  background: #000000;
  font-size: 12px;
  line-height: 18px;
}

.open-popup:hover {
  background: #555555;
}
